{% extends "port_menu.html" %}
{% block content %}
<link rel='stylesheet' link href="/static/style.css">
<div class="about-section">
    <h1>Kiran Kulkarni</h1>
    <p>Computer Science Engineer</p>
</div>
<div class="crop">
    <img style="float: right;" alt="" src="static/myimg.jpeg">
</div>
<section class="introduction-section">
    <h4>A computer science enthusiast who loves to work on projects, be it creating games or developing creative projects using programming logic.
My passion for computers made me pursue an engineering degree in computer science and learn new algorithms, languages, more importantly, I realized the broad aspect of computer science in general and how much more I could possibly learn in the future.
Having graduated with a bachelor's degree it feels exciting to satisfy my insatiable hunger for learning new technologies while getting to know what it is to be in an industry oriented environment. </p>
    <p>I love the internet, technology, and building beautiful things.</h4>
</section>

<footer class="content-footer">
    <p>Say hello to me on these social networks:</p>
    <ul class="social">
        <li><a class="css-is-deranged" href="https://github.com/KiranVK98" target="_blank">GitHub</a></li>
        <li><a class="css-is-deranged" href="https://twitter.com/Kiranvk98" target="_blank">Twitter</a></li>
    </ul>

</footer>

{% endblock %}