{% extends "port_menu.html" %}
{% block content %}
<link rel='stylesheet' link href="/static/project.css">
<div class="project-section">
    <h1>Contact</h1>
</div>

<div class="fancy">
    <p>Mobile: +919482871973</p>
</div>

<div class="fancy" style="margin-top:30px; margin-left:105px;">
    <p style="margin-right:10px; top:0px;">Email:</p>
    <p style="position:relative; right:30px; top:0px;">kiran.kulkarni1998@gmail.com</p>
</div>

<div class="fancy" style="margin-top:-170px; margin-right:105px;">
    <a href="https://www.linkedin.com/in/kiranvk98/" target="_blank"><h3>Linkedin</h3></p>
</div>

<div class="fancy" style="margin-bottom:30px;">
    <a href="https://github.com/KiranVK98" target="_blank"><h3>GITHUB</h3></p>
</div>
{% endblock %}