{% extends "port_menu.html" %}
{% block content %}
<link rel='stylesheet' link href="/static/education.css">
<section class="container">
  <!-- Standard sized summary table    -->
  <article class="summary-table">
    <section class="summary-table__section">
      <header class="summary-table__header">
        <h2 class="summary-table__heading">Vehicle</h2>
      </header>
      <dl class="summary-table__list summary-table__list--left">
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Model</dt>
          <dd class="summary-table__value">Ford Fiesta</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Registration</dt>
          <dd class="summary-table__value">XX00 X0X</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Current mileage</dt>
          <dd class="summary-table__value">00,000 miles</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Cash price</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
      </dl>
    </section>

    <section class="summary-table__section">
      <header class="summary-table__header">
        <h2 class="summary-table__heading">Finance Info</h2>
      </header>
      <dl class="summary-table__list summary-table__list--right">
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Term</dt>
          <dd class="summary-table__value">00 months</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Mileage per year</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Monthly payment</dt>
          <dd class="summary-table__value summary-table__value--primary">&pound;000.00 pm</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Deposit</dt>
          <dd class="summary-table__value">XXXXXX</dd>
        </div>
      </dl>
    </section>
  </article>

  <!-- Small sized summary table    -->
  <article class="summary-table">
    <section class="summary-table__section">
      <header class="summary-table__header">
        <h2 class="summary-table__heading">Vehicle</h2>
      </header>
      <dl class="summary-table__list summary-table__list--left">
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Model</dt>
          <dd class="summary-table__value">Ford Fiesta</dd>
        </div>
      </dl>
    </section>

    <section class="summary-table__section">
      <header class="summary-table__header">
        <h2 class="summary-table__heading">Finance Info</h2>
      </header>
      <dl class="summary-table__list summary-table__list--right">
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Term</dt>
          <dd class="summary-table__value">00 months</dd>
        </div>
      </dl>
    </section>
  </article>

  <!-- Large sized summary table    -->
  <article class="summary-table">
    <section class="summary-table__section">
      <header class="summary-table__header">
        <h2 class="summary-table__heading">Vehicle</h2>
      </header>
      <dl class="summary-table__list summary-table__list--left">
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Model</dt>
          <dd class="summary-table__value">Ford Fiesta</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Registration</dt>
          <dd class="summary-table__value">XX00 X0X</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Current mileage</dt>
          <dd class="summary-table__value">00,000 miles</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Cash price</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Model</dt>
          <dd class="summary-table__value">Ford Fiesta</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Registration</dt>
          <dd class="summary-table__value">XX00 X0X</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Current mileage</dt>
          <dd class="summary-table__value">00,000 miles</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Cash price</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
      </dl>
    </section>

    <section class="summary-table__section">
      <header class="summary-table__header">
        <h2 class="summary-table__heading">Finance Info</h2>
      </header>
      <dl class="summary-table__list summary-table__list--right">
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Term</dt>
          <dd class="summary-table__value">00 months</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Mileage per year</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Monthly payment</dt>
          <dd class="summary-table__value summary-table__value--primary">&pound;000.00 pm</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Deposit</dt>
          <dd class="summary-table__value">XXXXXX</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Term</dt>
          <dd class="summary-table__value">00 months</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Mileage per year</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Monthly payment</dt>
          <dd class="summary-table__value summary-table__value--primary">&pound;000.00 pm</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Deposit</dt>
          <dd class="summary-table__value">XXXXXX</dd>
        </div>
      </dl>
    </section>
  </article>

  <!-- Extra large sized summary table -->
  <article class="summary-table">
    <section class="summary-table__section">
      <header class="summary-table__header">
        <h2 class="summary-table__heading">Vehicle</h2>
      </header>
      <dl class="summary-table__list summary-table__list--left">
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Model</dt>
          <dd class="summary-table__value">Ford Fiesta</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Registration</dt>
          <dd class="summary-table__value">XX00 X0X</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Current mileage</dt>
          <dd class="summary-table__value">00,000 miles</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Cash price</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Model</dt>
          <dd class="summary-table__value">Ford Fiesta</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Registration</dt>
          <dd class="summary-table__value">XX00 X0X</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Current mileage</dt>
          <dd class="summary-table__value">00,000 miles</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Cash price</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Model</dt>
          <dd class="summary-table__value">Ford Fiesta</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Registration</dt>
          <dd class="summary-table__value">XX00 X0X</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Current mileage</dt>
          <dd class="summary-table__value">00,000 miles</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Cash price</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Model</dt>
          <dd class="summary-table__value">Ford Fiesta</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Registration</dt>
          <dd class="summary-table__value">XX00 X0X</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Current mileage</dt>
          <dd class="summary-table__value">00,000 miles</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Cash price</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
      </dl>
    </section>

    <section class="summary-table__section">
      <header class="summary-table__header">
        <h2 class="summary-table__heading">Finance Info</h2>
      </header>
      <dl class="summary-table__list summary-table__list--right">
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Term</dt>
          <dd class="summary-table__value">00 months</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Mileage per year</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Monthly payment</dt>
          <dd class="summary-table__value summary-table__value--primary">&pound;000.00 pm</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Deposit</dt>
          <dd class="summary-table__value">XXXXXX</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Term</dt>
          <dd class="summary-table__value">00 months</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Mileage per year</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Monthly payment</dt>
          <dd class="summary-table__value summary-table__value--primary">&pound;000.00 pm</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Deposit</dt>
          <dd class="summary-table__value">XXXXXX</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Term</dt>
          <dd class="summary-table__value">00 months</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Mileage per year</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Monthly payment</dt>
          <dd class="summary-table__value summary-table__value--primary">&pound;000.00 pm</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Deposit</dt>
          <dd class="summary-table__value">XXXXXX</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Term</dt>
          <dd class="summary-table__value">00 months</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Mileage per year</dt>
          <dd class="summary-table__value">&pound;00,000</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Monthly payment</dt>
          <dd class="summary-table__value summary-table__value--primary">&pound;000.00 pm</dd>
        </div>
        <div class="summary-table__list-item">
          <dt class="summary-table__key">Deposit</dt>
          <dd class="summary-table__value">XXXXXX</dd>
        </div>
      </dl>
    </section>
  </article>
</section>



{% endblock %}