{% extends "port_menu.html" %}
{% block content %}
<link rel='stylesheet' link href="/static/skill.css">
<section id="skills">
  <h1>My Skills</h1>
  <span class="border"></span>
    <div class="progressBar">
          <h4>HTML5</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-90"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>CSS3</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-80"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>Jquery</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-30"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>WordPress</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-70"></div>
          </div>
        </div>
</section>
{% endblock %}